[data-theme="light"],
[data-theme="dark"],
[data-theme="kgen"] {
  --primary-color-base: 140, 255, 5; /* #8cff05 */
  --secondary-color-base: 31, 51, 56; /* #1f3338 */
  --background-color-base: 65, 95, 102; /* #415f66 */
  --tertiary-color-base: 134, 166, 166; /* #86a6a6 */
  --text-color-base: 219, 237, 241; /* #dbedf1 */
  --accent-text-color-base: 190, 220, 218; /* #bedcda */

  --error-color-base: 255, 115, 115; /* #ff7373 */

  --white-base: 255, 255, 255; /* #ffffff */
  --black-base: 0, 0, 0; /* #000000 */
  --processing-color-base: 255, 158, 44; /* #ff9e2c */
  --partial-color-base: 255, 195, 44; /* #ffc32c */
  --success-color-base: 38, 216, 109; /* #26d86d */
  --failed-color-base: 255, 115, 115; /* #ff7373 */

  --trim: "Trim";
  --trim-mono: "Trim-Mono";
  --trim-poster: "Trim-Poster";
  --trim-poster-lean: "Trim-Poster-Lean";

  --navbar-web-height: 65px;
  --navbar-mweb-height: 98px;

  /* K-Store Variables */
  --table-background-color: var(--secondary-color);
  --table-header-color: var(--secondary-color);
  --table-card-seperator: var(--background-color);
  --table-card-text-color: white;

  --order-detail-order-info-bg: var(--secondary-color-50);
  --order-detail-order-info-text: var(--text-color);
  --no-enough-balance-error-background: rgba(61, 54, 54, 0.3);

  --place-order-text-filter: unset;
}

[data-theme="ht-kstore-india"] {
  --primary-color-base: 0, 157, 182; /* #009db6 */
  --secondary-color-base: 219, 219, 219; /* #ffffff */
  --background-color-base: 255, 255, 255; /* #1f3338 */
  --tertiary-color-base: 220, 218, 218; /* #dcdada */
  --text-color-base: 0, 0, 0; /* #000000 */
  --accent-text-color-base: 68, 68, 68; /* #444444 */

  --error-color-base: 255, 115, 115; /* #ff7373 */
  --white-base: 255, 255, 255; /* #ffffff */
  --black-base: 0, 0, 0; /* #000000 */
  --processing-color-base: 255, 158, 44; /* #ff9e2c */
  --partial-color-base: 255, 195, 44; /* #ffc32c */
  --success-color-base: 38, 216, 109; /* #26d86d */
  --failed-color-base: 255, 115, 115; /* #ff7373 */

  --trim: "IBM Plex Sans";
  --trim-mono: "IBM Plex Sans";
  --trim-poster: "IBM Plex Sans";
  --trim-poster-lean: "IBM Plex Sans";

  --navbar-mweb-height: 0px;
  --navbar-web-height: 0px;

  /* K-Store Variables */
  --table-background-color: var(--secondary-color);
  --table-header-color: var(--text-color);
  --table-card-text-color: var(--text-color);
  --table-card-seperator: var(--text-color-10);

  --order-detail-order-info-bg: var(--secondary-color);
  --order-detail-order-info-text: var(--text-color);
  --no-enough-balance-error-background: #ff737330;

  --place-order-text-filter: invert(1);
}

[data-theme="times-now-kstore-india"] {
  --primary-color-base: 181, 32, 37; /* #B52025 */
  --secondary-color-base: 219, 219, 219; /* #ffffff */
  --background-color-base: 255, 255, 255; /* #1f3338 */
  --tertiary-color-base: 220, 218, 218; /* #dcdada */
  --text-color-base: 0, 0, 0; /* #000000 */
  --accent-text-color-base: 72, 72, 72; /* #444444 */

  --error-color-base: 255, 115, 115; /* #ff7373 */
  --white-base: 255, 255, 255; /* #ffffff */
  --black-base: 0, 0, 0; /* #000000 */
  --processing-color-base: 255, 158, 44; /* #ff9e2c */
  --partial-color-base: 255, 195, 44; /* #ffc32c */
  --success-color-base: 38, 216, 109; /* #26d86d */
  --failed-color-base: 255, 115, 115; /* #ff7373 */

  --trim: "Verdana";
  --trim-mono: "Verdana";
  --trim-poster: "Verdana";
  --trim-poster-lean: "Verdana";

  --navbar-web-height: 65px;
  --navbar-mweb-height: 98px;

  /* K-Store Variables */
  /* Order History Table - WEB */
  --table-background-color: var(--background-color);
  --table-header-color: var(--text-color);

  /* Order History Table - MWEB */
  --table-card-text-color: var(--text-color);
  --table-card-seperator: var(--text-color-10);

  /* ORDER DETAILS MODAL */
  --order-detail-order-info-bg: var(--secondary-color);
  --order-detail-order-info-text: var(--text-color);
  --no-enough-balance-error-background: #ff737330;

  --place-order-text-filter: invert(1);

  --spin-button-text-color: var(--background-color);
}

:root {
  --primary-color: rgba(var(--primary-color-base));
  --primary-color-10: rgba(var(--primary-color-base), 0.1);
  --primary-color-20: rgba(var(--primary-color-base), 0.2);
  --primary-color-25: rgba(var(--primary-color-base), 0.25);
  --primary-color-30: rgba(var(--primary-color-base), 0.3);
  --primary-color-40: rgba(var(--primary-color-base), 0.4);
  --primary-color-50: rgba(var(--primary-color-base), 0.5);
  --primary-color-60: rgba(var(--primary-color-base), 0.6);
  --primary-color-70: rgba(var(--primary-color-base), 0.7);
  --primary-color-75: rgba(var(--primary-color-base), 0.75);
  --primary-color-80: rgba(var(--primary-color-base), 0.8);
  --primary-color-90: rgba(var(--primary-color-base), 0.9);

  --secondary-color: rgba(var(--secondary-color-base));
  --secondary-color-10: rgba(var(--secondary-color-base), 0.1);
  --secondary-color-15: rgba(var(--secondary-color-base), 0.15);
  --secondary-color-20: rgba(var(--secondary-color-base), 0.2);
  --secondary-color-25: rgba(var(--secondary-color-base), 0.25);
  --secondary-color-30: rgba(var(--secondary-color-base), 0.3);
  --secondary-color-40: rgba(var(--secondary-color-base), 0.4);
  --secondary-color-50: rgba(var(--secondary-color-base), 0.5);
  --secondary-color-60: rgba(var(--secondary-color-base), 0.6);
  --secondary-color-70: rgba(var(--secondary-color-base), 0.7);
  --secondary-color-75: rgba(var(--secondary-color-base), 0.75);
  --secondary-color-80: rgba(var(--secondary-color-base), 0.8);
  --secondary-color-85: rgba(var(--secondary-color-base), 0.85);
  --secondary-color-90: rgba(var(--secondary-color-base), 0.9);

  --background-color: rgba(var(--background-color-base));
  --background-color-10: rgba(var(--background-color-base), 0.1);
  --background-color-15: rgba(var(--background-color-base), 0.15);
  --background-color-20: rgba(var(--background-color-base), 0.2);
  --background-color-25: rgba(var(--background-color-base), 0.25);
  --background-color-30: rgba(var(--background-color-base), 0.3);
  --background-color-40: rgba(var(--background-color-base), 0.4);
  --background-color-50: rgba(var(--background-color-base), 0.5);
  --background-color-60: rgba(var(--background-color-base), 0.6);
  --background-color-70: rgba(var(--background-color-base), 0.7);
  --background-color-75: rgba(var(--background-color-base), 0.75);
  --background-color-80: rgba(var(--background-color-base), 0.8);
  --background-color-85: rgba(var(--background-color-base), 0.85);
  --background-color-90: rgba(var(--background-color-base), 0.9);

  --tertiary-color: rgba(var(--tertiary-color-base));
  --tertiary-color-10: rgba(var(--tertiary-color-base), 0.1);
  --tertiary-color-20: rgba(var(--tertiary-color-base), 0.2);
  --tertiary-color-25: rgba(var(--tertiary-color-base), 0.25);
  --tertiary-color-30: rgba(var(--tertiary-color-base), 0.3);
  --tertiary-color-40: rgba(var(--tertiary-color-base), 0.4);
  --tertiary-color-50: rgba(var(--tertiary-color-base), 0.5);
  --tertiary-color-60: rgba(var(--tertiary-color-base), 0.6);
  --tertiary-color-70: rgba(var(--tertiary-color-base), 0.7);
  --tertiary-color-75: rgba(var(--tertiary-color-base), 0.75);
  --tertiary-color-80: rgba(var(--tertiary-color-base), 0.8);
  --tertiary-color-90: rgba(var(--tertiary-color-base), 0.9);

  --text-color: rgba(var(--text-color-base));
  --text-color-10: rgba(var(--text-color-base), 0.1);
  --text-color-20: rgba(var(--text-color-base), 0.2);
  --text-color-25: rgba(var(--text-color-base), 0.25);
  --text-color-30: rgba(var(--text-color-base), 0.3);
  --text-color-40: rgba(var(--text-color-base), 0.4);
  --text-color-50: rgba(var(--text-color-base), 0.5);
  --text-color-60: rgba(var(--text-color-base), 0.6);
  --text-color-70: rgba(var(--text-color-base), 0.7);
  --text-color-75: rgba(var(--text-color-base), 0.75);
  --text-color-80: rgba(var(--text-color-base), 0.8);
  --text-color-90: rgba(var(--text-color-base), 0.9);

  --accent-text-color: rgba(var(--accent-text-color-base));
  --accent-text-color-10: rgba(var(--accent-text-color-base), 0.1);
  --accent-text-color-20: rgba(var(--accent-text-color-base), 0.2);
  --accent-text-color-25: rgba(var(--accent-text-color-base), 0.25);
  --accent-text-color-30: rgba(var(--accent-text-color-base), 0.3);
  --accent-text-color-40: rgba(var(--accent-text-color-base), 0.4);
  --accent-text-color-50: rgba(var(--accent-text-color-base), 0.5);
  --accent-text-color-60: rgba(var(--accent-text-color-base), 0.6);
  --accent-text-color-70: rgba(var(--accent-text-color-base), 0.7);
  --accent-text-color-75: rgba(var(--accent-text-color-base), 0.75);
  --accent-text-color-80: rgba(var(--accent-text-color-base), 0.8);
  --accent-text-color-90: rgba(var(--accent-text-color-base), 0.9);

  --error-text-color: rgba(var(--error-color-base));

  --error-background-color: rgba(var(--error-color-base), 0.15);

  --black: rgba(var(--black-base));
  --black-10: rgba(var(--black-base), 0.1);
  --black-20: rgba(var(--black-base), 0.2);
  --black-25: rgba(var(--black-base), 0.25);
  --black-30: rgba(var(--black-base), 0.3);
  --black-40: rgba(var(--black-base), 0.4);
  --black-50: rgba(var(--black-base), 0.5);
  --black-60: rgba(var(--black-base), 0.6);
  --black-70: rgba(var(--black-base), 0.7);
  --black-75: rgba(var(--black-base), 0.75);
  --black-80: rgba(var(--black-base), 0.8);
  --black-90: rgba(var(--black-base), 0.9);

  --white: rgba(var(--white-base));
  --white-10: rgba(var(--white-base), 0.1);
  --white-20: rgba(var(--white-base), 0.2);
  --white-25: rgba(var(--white-base), 0.25);
  --white-30: rgba(var(--white-base), 0.3);
  --white-40: rgba(var(--white-base), 0.4);
  --white-50: rgba(var(--white-base), 0.5);
  --white-60: rgba(var(--white-base), 0.6);
  --white-70: rgba(var(--white-base), 0.7);
  --white-75: rgba(var(--white-base), 0.75);
  --white-80: rgba(var(--white-base), 0.8);
  --white-90: rgba(var(--white-base), 0.9);

  --processing-color: rgba(var(--processing-color-base));
  --partial-color: rgba(var(--partial-color-base));
  --success-color: rgba(var(--success-color-base));
  --failed-color: rgba(var(--failed-color-base));
}
