[data-theme="ht-kstore-india"] {
  --primary-color: #009db6 !important; /* rgb(140, 255, 5) */
  --secondary-color: #ffffff !important; /* rgb(65, 95, 102) */
  --background-color: #1f3338 !important; /* rgb(31, 51, 56) */
  --tertiary-color: #dcdada !important; /* rgb(134, 166, 166) */
  --text-color: #000000 !important; /* rgb(232, 243, 245) */
  --accent-text-color: #444444 !important; /* rgb(190, 220, 218) */
}

[data-theme="indian-express"] {
  --primary-color: #ff9db6 !important; /* rgb(140, 255, 5) */
  --secondary-color: #ffffff !important; /* rgb(65, 95, 102) */
  --background-color: #1f3338 !important; /* rgb(31, 51, 56) */
  --tertiary-color: #dcdada !important; /* rgb(134, 166, 166) */
  --text-color: #000000 !important; /* rgb(232, 243, 245) */
  --accent-text-color: #444444 !important; /* rgb(190, 220, 218) */
}
